div.profile {
    background-image: url("https://i.pinimg.com/originals/de/fa/28/defa283a2b0cec1ebabede862375bfb6.jpg");
}

.text_h1 {
    color: rgb(255, 255, 255);
}

.image {
    width: 150px;
    height: 150px;

}

.t_color {
    color: rgb(255, 254, 254);
}

.background {
    background-color: rgb(17, 16, 16);
    color: white;
    text-align: center;
    font-size: 30px;
}