body {
    background-image: url("https://t3.ftcdn.net/jpg/02/87/29/60/360_F_287296053_WZ0bPnX9HzdYdacavH0dUTAvagF1qp7D.jpg");
}

.text_h1 {
    color: aqua;
}

.image {
    width: 150px;
    height: 150px;

}

.t_color {
    color: white;
}

.background {
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 30px;
}