.login {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.col-md-4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.col-12{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.col-md-6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}