.App {
  text-align: center;
  
}
body{
  background-image: url("https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg");
}

/* .registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: rgb(0, 0, 0);
  color:white
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
}

img {
  width: 50%;
  height: 50%;
}

.results-container {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}


input {
  width: 250px;
  height: 40px;
}

.footer{
  height:100px;
  background-image: url("https://miro.medium.com/max/5120/1*ZbZYU4Mfq0HBnbyHxWlMtA.png");
  background-size:350px;
}

div.profile {
  background-image: url("https://t3.ftcdn.net/jpg/02/87/29/60/360_F_287296053_WZ0bPnX9HzdYdacavH0dUTAvagF1qp7D.jpg");
}

.text_h1 {
  color: aqua;
}

.image {
  width: 150px;
  height: 150px;

}

.t_color {
  color: white;
}

.background {
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 30px;
}

.active{
  color: greenyellow;
}