.App {
  text-align: center;
  background-image: url("https://cdn.wallpapersafari.com/65/42/0GdVHI.jpg");
}
body{
  background-image: url("https://i.pinimg.com/originals/de/fa/28/defa283a2b0cec1ebabede862375bfb6.jpg");
}

/* .registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background: rgb(0, 0, 0);
  color:white
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
}

img {
  width: 50%;
  height: 50%;
}

.results-container {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}


input {
  width: 250px;
  height: 40px;
}

.footer{
  height:100px;
  background-color:222222;
    background-size:350px;
}

div.profile {
  background-color:222222;
}

.text_h1 {
  color: aqua;
}

.image {
  width: 150px;
  height: 150px;

}

.t_color {
  color: white;
}

.background {
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 30px;
}

.active{
  color: greenyellow;
}